GITHUB_TOKEN=your_github_token_here
WEBHOOK_SECRET=your_custom_webhook_secret_string

# development environment variables
# CHROMA_BASE_URL=http://chromadb:8000

# production environment variables
# GEMINI_API_KEY=your_gemini_api_key_here
# PINECONE_API_KEY=your_pinecone_api_key_here
# LOG_LEVEL=INFO

# Set the environment to either 'development' or 'production' to switch between local and cloud configurations
# ENVIRONMENT=production | development